---
layout: default
---

<% if resource.try(:collection)&.label == "posts" %>
  <%= render Post::HeaderComponent.new(resource) %>
<% else %>
  <h2 class="text-xl mb-5"><%= resource.data.title %></h2>
<% end %>

<%= render MarkdownComponent.new.with_content(content) %>
