<header class="flex flex-col space-y-4">
  <h1 class="text-3xl lg:text-4xl font-semibold"><%= author.name %></h1>
  <div class="flex justify-between items-center">
    <p><%= author.title %></p>
  </div>
</header>
